[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[core]
	editor = \"E:/dartpad_based/GitExtensions/GitExtensions.exe\" fileeditor
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[user]
	name = 40823149
	email = 40823149@gm.nfu.edu.tw
